<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test1">
		<classes>
			<class name="com.hth.test.TestCase2SearchFunction" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="com.hth.test.TestCase1AddToCart" />
			<class name="com.hth.test.TestCase2SearchFunction" />
		</classes>
	</test>
</suite>
